@import '../app.component.sass'
.mainList
    list-style-type: none
    height: 70vh
    width: 40vw
    background-color: #edebeb
    padding: 0
    border: 1.5px solid #9496a1
    border-radius: 30px
    overflow-y: auto
    @include scrollbar()

.mainListItem
    border-bottom: 1px solid #9496a1

.noAircraftSelected
    display: flex

.mainListWarning
    text-align: center
    margin: auto
