<h2>{{ tomorrow.getDate() }}{{ getDay() }} {{ tomorrow | date:"LLLL" }} {{ tomorrow | date:"yyyy" }}</h2>

<h3>
        {{ tomorrow | date:"EEEE" }} 
    <button class="saveButton clear" (click)="clearSchedule()" title="Clear schedule">
        <i class="fa-regular fa-trash-can"></i>
    </button>

    <button class="saveButton" (click)="saveSchedule()" title="Save schedule">
        <i class="fa-regular fa-floppy-disk"></i>
    </button>
</h3>

<h4 *ngIf="showNoAircraftSelected()">No aircraft selected</h4>

<h4 *ngIf="!showNoAircraftSelected()">Rotation {{ aircraft.ident }}</h4>

<ol class="mainList noAircraftSelected" *ngIf="showNoAircraftSelected()">
    <li class="mainListUsage">Select an aircraft to start creating tomorrow's schedule</li>
    <li class="mainListUsage">Select which flights will be a part of that aircraft schedule</li>
    <li class="mainListUsage">Save the changes you make on the <i class="fa-regular fa-floppy-disk"></i> button</li>
    <li class="mainListUsage">To reset the schedule, click on the <i class="fa-regular fa-trash-can"></i> button</li>
</ol>

<ul class="mainList" *ngIf="showNoFlightsForAircraft() || showFlightsForAircraft()">
    
    <ng-container *ngIf="showNoFlightsForAircraft()">
        <p class="mainListWarning">No flights have been set for this aircraft</p>
    </ng-container>

    <ng-container *ngIf="showFlightsForAircraft()">
        <li class="mainListItem" *ngFor="let flight of aircraft.flights">
            <div class="mainListItemFlightInfo">
                <span class="mainListItemFlightNumber"><strong>Flight {{ flight.ident }}</strong></span>

                <div class="mainListItemFlightContainer">
                    <div class="mainListItemFlightDetails">
                        <span class="mainListItemFlightOrigin">{{ flight.origin }}</span>
                        <span class="mainListItemFlighttime">
                            <i class="fa-solid fa-plane-departure origin"></i>
                            {{ flight.readable_departure }}
                        </span>
                    </div>
                    
                    <span class="mainListItemFlightDuration">{{ flight.readable_duration }}</span>

                    <div class="mainListItemFlightDetails">
                        <span class="mainListItemFlightDestination">{{ flight.destination }}</span>
                        <span class="mainListItemFlighttime">
                            {{ flight.readable_arrival }}
                            <i class="fa-solid fa-plane-arrival destination"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="mainListItemButtons">
                <button title="Remove flight from rotation" class="mainListItemButtonRemove" *ngIf="showRemoveButton(flight)" (click)="removeFlightFromRotation()">
                    <i class="fa-regular fa-circle-xmark"></i>
                </button>
            </div>
        </li>
    </ng-container>
</ul>

<app-aircraft-timeline
    *ngIf="!showNoAircraftSelected()"
    [aircraft]="aircraft"
    [flights]="aircraft.flights"
></app-aircraft-timeline>